{% extends "base.html" %}
{% block content %}

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Application Status</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    {% for child in children.items %}
    <tr>
        <th scope="row">{{child.id}}</th>
        <td>{{child.firstname}}</td>
        <td>{{child.lastname}}</td>
        <td>{{child.child_dob}}</td>
        <td>{{child.status}}</td>
        <td><a class="btn btn-primary mx-1" href="{{url_for('child.get_child',key=child.id,page=children.page)}}" role="button">View</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination pagination-sm">
        {% for page in children.iter_pages(left_edge=1, left_current=1, right_current=1, right_edge=1) %}
            {% if page %}
                {% if children.page == page %}
                    <li class="page-item active"><a class="page-link" href="{{url_for('child.list_saved_children' , page=page) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{url_for('child.list_saved_children' , page=page) }}">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li class="page-item">...</li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>


{% endblock content %}