{% extends "base.html" %}
{% block content %}
<div class="container border w-50 p-3">
<form method="post" action="" novalidate>
    {{form.hidden_tag()}}
  <div class="form-group">
      {{form.child_firstname.label()}}
      {% if form.child_firstname.errors %}
        {{ form.child_firstname(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.child_firstname.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
      {% else %}
        {{form.child_firstname(class="form-control")}}
      {% endif %}

  </div>
    <div class="form-group">
      {{form.child_middlename.label()}}
      {% if form.child_middlename.errors %}
        {{ form.child_middlename(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.child_middlename.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
      {% else %}
        {{form.child_middlename(class="form-control")}}
      {% endif %}
  </div>
    <div class="form-group">
      {{form.child_lastname.label()}}
      {% if form.child_lastname.errors %}
        {{ form.child_lastname(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.child_lastname.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
      {% else %}
        {{form.child_lastname(class="form-control")}}
      {% endif %}
  </div>
    <div class="form-group">
      {{form.child_dob.label()}}
      {% if form.child_dob.errors %}
        {{ form.child_dob(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.child_dob.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
      {% else %}
        {{form.child_dob(class="form-control")}}
      {% endif %}
  </div>
  <div class="form-group">
      {{form.child_gender.label()}}
      {% if form.child_gender.errors %}
        {{ form.child_gender(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.child_gender.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
      {% else %}
        {{form.child_gender(class="form-control")}}
      {% endif %}
  </div>
  <div class="form-group">
      {{form.address1.label()}}
      {% if form.address1.errors %}
        {{ form.address1(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.address1.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
      {% else %}
        {{form.address1(class="form-control")}}
      {% endif %}
  </div>
  <div class="form-group">
      {{form.address2.label()}}
      {% if form.address2.errors %}
        {{ form.address2(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.address2.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
      {% else %}
        {{form.address2(class="form-control")}}
      {% endif %}
  </div>
  <div class="form-group">
      {{form.city.label()}}
      {% if form.city.errors %}
        {{ form.city(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.city.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
      {% else %}
        {{form.city(class="form-control")}}
      {% endif %}
  </div>
  <div class="form-group">
      {{form.state.label()}}
      {% if form.state.errors %}
        {{ form.state(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.state.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
      {% else %}
        {{form.state(class="form-control")}}
      {% endif %}
  </div>
  <div class="form-group">
      {{form.zip.label()}}
      {% if form.zip.errors %}
        {{ form.zip(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.zip.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
      {% else %}
        {{form.zip(class="form-control")}}
      {% endif %}
  </div>
    <div class="form-group">
      {{form.submit(class="btn btn-outline-primary")}}
  </div>
</form>
</div>


{% endblock content %}